<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Ian's Website</title>
    <meta name="author" content="Ian Andrian Tanuwidjaja">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>
  
    <!-- Sidebar -->
    <div id="viewport">
    <div id="sidebar">
      <header>
        <a href="#">CARPROTECT</a>
      </header>
      <ul class="nav">
        <li>
          <a href="/">
            <i class="zmdi zmdi-view-dashboard"></i> Home
          </a>
        </li>
        <li>
          <a href="/page1">
            <i class="zmdi zmdi-link"></i> KVL
          </a>
        </li>
        <li>
          <a href="/page2">
            <i class="zmdi zmdi-widgets"></i> Products
          </a>
        </li>
        
      </ul>
    </div>
    <div id = content>
      <body>
    
      <div class='separator'>What We Do</div>
  
      <h1 class='bordered'> CREATE VEHICLE SECURITY SOLUTIONS </h1>
      
      <p> Our product is an IOT device that protects your car from theft and vandalism. The device includes a sensor kit that will be attached to your car to detect any disturbances. These disturbances will be connected to your CarProtect app where it will notify you and the authorities while recording all the events going on at your vehicle. </p>
      <p> The included features at CarProtect 1.0 are:</p>
      <ul>
        <li> Patented TheftDetect Alarm </li>
        <li> 360 degree smart camera </li>
      </ul>
  
      <section class='padding-responsive'>
  
        <div class='separator'>Members</div>
  
        <table class='margin-top-xl'>
          <thead>
            <tr>
              <th class='small'> First Name </th>
              <th class='medium'> Last Name </th>
              <th class='large'> Email </th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td> {{user[0]}} </td>
              <td> {{user[1]}} </td>
              <td> {{user[2]}} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
      <div class =  'separator'> Product Information Architecture</div>
      <p>The typical user should see if the system is online, and it should also indicate if the car is safe or not.</p>
      <p>Principle of Objects: This is the most important principle because our product is a hardware and software object that can be described by a consistent structure with parameters that deliver information on the safety of your vehicle.   </p>
      <p>Topical IA Structure: Our front page of our app should just have all of the relevant real time information of our product, we don't want it to be a hassle to access any of this information. Clear, large and concise; all in the front page.</p>
        
      <div class='separator'>UX Improvements</div>
      <ul>
        <li> Improved the VISIBILITY of the website by using more pallettable colors and fonts. </li>
        <li> Improved CONSISTENCY of the website by using a navigation bar and normalizing the page formats for each redirect.  </li>
        <li> Fixed occasional ERROR-PRONENESS when redirecting to another page. </li>
      </ul>
        
      <div class = 'separator'>Low Res Mock Up UI</div>
        <p>This is a sample home page that I made on CodePen and also inspired by the many cool designs shared on CodePen. I want it to be clean and clear while being dynamically responsive all in one simple page.</p>  
         <img src=".\carprotecthome.png" alt="Car Protect Home Page CodePen">
      <div class = 'separator'>3 Laws of UI Design</div>
        <p>Hick's Law: Multiple Choices to choose which floor to go to if you don't have a preference. Also notice how misleading the star and the Main Floor Sign is. Which one is the main floor? feat. Geisel Elevators</p>  
          <img src=".\geiselelevator.jpg" alt="Geisel Elevator">
        <p>Jacob's Law: People want to use something similar to what they are familiar with. Maybe that is why when I designed this site in the first place. I went for a natural side bar redirect menu and a main content section that scrolls down.</p>  
          <img src=".\w3ss1.png" alt="This Website Front Page">
        <p>Miller's Law: To me YouTube on my phone app has become more pallettable than it's PC website counter part. I am not bombarded with many videos I can choose from, but they give a few selections to decide from each time.</p>
          <img src=".\youtubeui.jpg" alt="YouTube Mobile App">

      
      </body> 
  </div>
    </div>
</html>
     

      