<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Ian's Website</title>
    <meta name="author" content="Ian Andrian Tanuwidjaja">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>
  <div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
      <header>
        <a href="#">CARPROTECT</a>
      </header>
      <ul class="nav">
        <li>
          <a href="/">
            <i class="zmdi zmdi-view-dashboard"></i> Home
          </a>
        </li>
        <li>
          <a href="/page1">
            <i class="zmdi zmdi-link"></i> KVL
          </a>
        </li>
        <li>
          <a href="/page2">
            <i class="zmdi zmdi-widgets"></i> Products
          </a>
        </li>
        
      </ul>
    </div>
    <div id = content>
      <body>
    
      <div class='separator'>What We Do</div>
  
      <h1 class='bordered'> CREATE VEHICLE SECURITY SOLUTIONS </h1>
      
      <p> Our product is an IOT device that protects your car from theft and vandalism. The device includes a sensor kit that will be attached to your car to detect any disturbances. These disturbances will be connected to your CarProtect app where it will notify you and the authorities while recording all the events going on at your vehicle. </p>
      <p> The included features at CarProtect 1.0 are:</p>
      <ul>
        <li> Patented TheftDetect Alarm </li>
        <li> 360 degree smart camera </li>
      </ul>
  
      <section class='padding-responsive'>
  
        <div class='separator'>Members</div>
  
        <table class='margin-top-xl'>
          <thead>
            <tr>
              <th class='small'> First Name </th>
              <th class='medium'> Last Name </th>
              <th class='large'> Email </th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td> {{user[0]}} </td>
              <td> {{user[1]}} </td>
              <td> {{user[2]}} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
      <div class='separator'>UX Improvements</div>
      <ul>
        <li> Improved the VISIBILITY of the website by using more pallettable colors and fonts. </li>
        <li> Improved CONSISTENCY of the website by using a navigation bar and normalizing the page formats for each redirect.  </li>
        <li> Fixed occasional ERROR-PRONENESS when redirecting to another page. </li>
      </ul>
    </body> 
  </div>
    </div>
</html>
     

      