<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Key Value Propostion</title>
    <meta name="author" content="Ian Andrian Tanuwidjaja">
    <meta name="description" content="page1">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>
    <div id="viewport">
      <div id="sidebar">
        <header>
          <a href="#">CARPROTECT</a>
        </header>
        <ul class="nav">
          <li>
            <a href="/">
              <i class="zmdi zmdi-view-dashboard"></i> Home
            </a>
          </li>
          <li>
            <a href="/page1">
              <i class="zmdi zmdi-link"></i> KVL
            </a>
          </li>
          <li>
            <a href="/page2">
              <i class="zmdi zmdi-widgets"></i> Products
            </a>
          </li>
          <li>
            <a href="/page3">
              <i class="zmdi zmdi-view-dashboard"></i> Interaction Design
            </a>
          </li>
          <li>
            <a href="/page4">
              <i class="zmdi zmdi-view-dashboard"></i> Cost and Revenue
            </a>
          </li>
          <li>
            <a href="/page5">
              <i class="zmdi zmdi-view-dashboard"></i> Pivot
            </a>
          </li>
        </ul>
      </div>
      <div id = content>
        <body>
          <div class='hero'>
            <h1> Product </h1>
            <p>  </p>
          </div>
        <div class = 'separator'> CarSense</div>
          <p>Our proprietary technology allows us to have a robust system that will detect any human walking within a certain <mark style="border-radius: 10px; background: beige; padding: 10px;">proximity around the car</mark>, and it will alert them when they get too close! Effectively drawing attention and deterring theft.
          </p>
        <div class = 'separator'> CarRepel </div>

          <p>If an assailant voilates the car, our CarRepel technology will set off the secondary line of defense in a form of a <mark class = "flashbang">flashbang</mark> or <mark class = "smoke">smoke bomb</mark> that will incite fear and leave the assailant running away! </p>
        <div class = 'separator'> CarConnect</div>
          <p>All the while all our defense mechanisms are triggered, we will be alerted in real-time of the &#9888;<mark class = "danger">dangers or potential dangers</mark> to our most beloved vehicle. </p>
        <div class = 'separator'> Empathy Chart</div>  
        <img src=".\Empathy_Map.png" alt="Empathy Map">
        
      </body> 
    </div>
    </div>
     

  </html>

