<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Key Value Propostion</title>
    <meta name="author" content="Ian Andrian Tanuwidjaja">
    <meta name="description" content="page1">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>
  <body>
    <div class='hero'>
        <h1> Key Value Propostion </h1>
        <p>  </p>
      </div>
    <div class = 'seperator'> Promise</div>
      <p>The CarProtect will significantly reduce the likelihood of getting your car broken into.
          In San Francisco, an average of 19.8 cars are broken into per 1000 people. CarProtect will 
      </p>
    <div class = 'seperator'> Benefits </div>


    <div class = 'seperator'> Why Us?</div>


  </body>
      

