<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Interaction Design</title>
    <meta name="author" content="Ian Andrian Tanuwidjaja">
    <meta name="description" content="page3">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>
    <div id="viewport">
      <div id="sidebar">
        <header>
          <a href="#">CARPROTECT</a>
        </header>
        <ul class="nav">
          <li>
            <a href="/">
              <i class="zmdi zmdi-view-dashboard"></i> Home
            </a>
          </li>
          <li>
            <a href="/page1">
              <i class="zmdi zmdi-link"></i> KVL
            </a>
          </li>
          <li>
            <a href="/page2">
              <i class="zmdi zmdi-widgets"></i> Products
            </a>
          </li>
          <li>
            <a href="/page3">
              <i class="zmdi zmdi-view-dashboard"></i> Interaction Design
            </a>
          </li>
          <li>
            <a href="/page4">
              <i class="zmdi zmdi-view-dashboard"></i> Cost and Revenue
            </a>
          </li>
        </ul>
      </div>
      <div id = content>
        <body>
          <div class='hero'>
            <h1>Cost and Revenue </h1>
            
          </div>
        <div class = 'separator'> Cost</div>
            <p>We estimate the total cost of manufacturing a single device is around $23.5. The raw materials and electrical components costs $10. Labor and manufacturing will cost another $10. Running the servers will be around $2 per device per month. Logistics of shipping the units is around $1.50 per unit.  </p>  
        <div class = 'separator'> Revenue </div>
            <p>We plan to sell this product as a single purchase for $45 which includes hardware + SIM renewal + cost of running web servers. However, we are looking into several other models that may be better for the long run. Our current revenue model is a one time purchase from a retailer, where the user can easily install the unit on their own, and pays a small monthly fee for the service and the internet connection. Another revenue model we can look into is a subscription model with a deposit for the unit and a one time installation fee with a monthly subscription. Since there is a high barrier to entry for the pricing of other competing products, we plan to create a low barrier to entry for our device with a one month refund period. (It is unlikely that something bad will happen within the first month, so there will be no reason for someone to refund unless they think they don’t need the product).
            </p>
        
      </body> 
    </div>
    </div>
     

  </html>

