<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Key Value Propostion</title>
    <meta name="author" content="Ian Andrian Tanuwidjaja">
    <meta name="description" content="page1">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>
    <div id="viewport">
      <div id="sidebar">
        <header>
          <a href="#">CARPROTECT</a>
        </header>
        <ul class="nav">
          <li>
            <a href="/">
              <i class="zmdi zmdi-view-dashboard"></i> Home
            </a>
          </li>
          <li>
            <a href="/page1">
              <i class="zmdi zmdi-link"></i> KVL
            </a>
          </li>
          <li>
            <a href="/page2">
              <i class="zmdi zmdi-widgets"></i> Products
            </a>
          </li>
          <li>
            <a href="/page3">
              <i class="zmdi zmdi-view-dashboard"></i> Interaction Design
            </a>
          </li>
          <li>
            <a href="/page4">
              <i class="zmdi zmdi-view-dashboard"></i> Cost and Revenue
            </a>
          </li>
          <li>
            <a href="/page5">
              <i class="zmdi zmdi-view-dashboard"></i> Pivot
            </a>
          </li>
        </ul>
      </div>
      <div id = content>
        <body>
          <div class='hero'>
            <h1> Key Value Propostion </h1>
            <p>  </p>
          </div>
        <div class = 'separator'> Promise</div>
          <p>The CarProtect will significantly reduce the likelihood of getting your car broken into.
              In San Francisco, an average of 19.8 cars are broken into per 1000 people. CarProtect will reduce the odds of getting broken into by 75%!
          </p>
        <div class = 'separator'> Benefits </div>
          <p>
            The benefits of using CarProtect is that we will also reduce your car insurance by offering a higher safety rate to your car!
          </p>

        <div class = 'separator'> Why Us?</div>
            There is no downside of getting a CarProtect unit from just $20, you can get savings over $500/year. It will also keep your belongings that much safer!
          
        
      </body> 
    </div>
    </div>
</html>
     


