<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Interaction Design</title>
    <meta name="author" content="Ian Andrian Tanuwidjaja">
    <meta name="description" content="page3">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>
    <div id="viewport">
      <div id="sidebar">
        <header>
          <a href="#">CARPROTECT</a>
        </header>
        <ul class="nav">
          <li>
            <a href="/">
              <i class="zmdi zmdi-view-dashboard"></i> Home
            </a>
          </li>
          <li>
            <a href="/page1">
              <i class="zmdi zmdi-link"></i> KVL
            </a>
          </li>
          <li>
            <a href="/page2">
              <i class="zmdi zmdi-widgets"></i> Products
            </a>
          </li>
          <li>
            <a href="/page3">
              <i class="zmdi zmdi-view-dashboard"></i> Interaction Design
            </a>
          </li>
          <li>
            <a href="/page4">
              <i class="zmdi zmdi-view-dashboard"></i> Cost and Revenue
            </a>
          </li>
          <li>
            <a href="/page5">
              <i class="zmdi zmdi-view-dashboard"></i> Pivot
            </a>
          </li>
        </ul>
      </div>
      <div id = content>
        <body>
          <div class='hero'>
            <h1> Features and Interactions </h1>
            
          </div>
        <div class = 'separator'> Motion Sensor</div>
            <p>The main feature of our device: alerts users when there is any unwanted foreign forces acting on the user's vehicle. </p>  
        <div class = 'separator'> Internet Connectivity </div>
            <p>Access the status of your vehicle's security from anywhere with an internet connection.</p>
        <div class = 'separator'> Compact Design</div>
            <p>Clean, unintrusive design that is also easy to attach and set up.</p>
        <div class = 'separator'> Built-In Camera</div>
            <p>Optional, built-in camera to act as a dash-cam and reduce clutter in your car with too many devices.</p>
        <div class = 'separator'> GPS Location</div>
            <p>Real time position tracking for security, but also for remembering where you parked your car!</p>
        <div class = 'separator'> Key Product Interactions</div>
          <p>Our key product interaction is the app interaction with the user. The app will have all the important information, and it will be the center of controlling CarProtect. It will be clear and concise with vehicle safety status, location and device status.</p>
      </body> 
    </div>
    </div>
     

  </html>

