<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Key Value Propostion</title>
    <meta name="author" content="Ian Andrian Tanuwidjaja">
    <meta name="description" content="page1">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>
    <div id="viewport">
      <div id="sidebar">
        <header>
          <a href="#">CARPROTECT</a>
        </header>
        <ul class="nav">
          <li>
            <a href="/">
              <i class="zmdi zmdi-view-dashboard"></i> Home
            </a>
          </li>
          <li>
            <a href="/page1">
              <i class="zmdi zmdi-link"></i> KVL
            </a>
          </li>
          <li>
            <a href="/page2">
              <i class="zmdi zmdi-widgets"></i> Products
            </a>
          </li>
          
        </ul>
      </div>
      <div id = content>
        <body>
          <div class='hero'>
            <h1> Product </h1>
            <p>  </p>
          </div>
        <div class = 'seperator'> CarSense</div>
          <p>Our proprietary technology allows us to have a robust system that will detect any human walking within a certain proximity around the car, and it will alert them when they get too close! Effectively drawing attention and deterring theft.
          </p>
        <div class = 'seperator'> CarRepel </div>

          <p>If an assailant voilates the car, our CarRepel technology will set off the secondary line of defense in a form of a flashbang or smoke bomb that will incite fear and leave the assailant running away! </p>
        <div class = 'seperator'> CarConnect</div>
          <p>All the while all our defense mechanisms are triggered, we will be alerted in real-time of the dangers or potential dangers to our most beloved vehicle. </p>
          
        
      </body> 
    </div>
    </div>
     


