<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Interaction Design</title>
    <meta name="author" content="Ian Andrian Tanuwidjaja">
    <meta name="description" content="page3">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>
    <div id="viewport">
      <div id="sidebar">
        <header>
          <a href="#">CARPROTECT</a>
        </header>
        <ul class="nav">
          <li>
            <a href="/">
              <i class="zmdi zmdi-view-dashboard"></i> Home
            </a>
          </li>
          <li>
            <a href="/page1">
              <i class="zmdi zmdi-link"></i> KVL
            </a>
          </li>
          <li>
            <a href="/page2">
              <i class="zmdi zmdi-widgets"></i> Products
            </a>
          </li>
          <li>
            <a href="/page3">
              <i class="zmdi zmdi-view-dashboard"></i> Interaction Design
            </a>
          </li>
          <li>
            <a href="/page4">
              <i class="zmdi zmdi-view-dashboard"></i> Cost and Revenue
            </a>
          </li>
          <li>
            <a href="/page5">
              <i class="zmdi zmdi-view-dashboard"></i> Pivot
            </a>
          </li>
        </ul>
      </div>
      <div id = content>
        <body>
          <div class='hero'>
            <h1>Pivoting </h1>
            
          </div>
        <div class = 'separator'> Pivots</div>
            <p> We did a Zoom-Out Pivot for our product because for our product to compete in the market of additional car accessorries, we need it to have most of the basic features that common accessories have. People do not want to have too many objects cluttering inside their cars.  </p>  
        <div class = 'separator'> Potential Pivots </div>
            <p>
                We are considering doing a Customer Segment Pivot. Our current clientele is individual commercial customers. However, we do see a large market if we can sell this product to car manufacturers or car dealers or car rentals. That will give us access to a higher volume, and open new potential collaborations.
            </p>
        
      </body> 
    </div>
    </div>
     

  </html>

